_format_version: "3.0"

_konnect:
  control_plane_name: ${CONTROL_PLANE_NAME}

# -----------------------------
# CONSUMER GROUPS (Partner tiers)
# -----------------------------
consumer_groups:
  - name: partner_basic
    plugins:
      - name: request-transformer-advanced
        config:
          add:
            body:
              - grant_type:client_credentials
              - client_id:partner_basic
              - client_secret:${KEYCLOAK_CLIENT_SECRET_BASIC}
            headers:
              - "Content-Type: application/x-www-form-urlencoded"
          dots_in_keys: true

  - name: partner_plus
    plugins:
      - name: request-transformer-advanced
        config:
          add:
            body:
              - grant_type:client_credentials
              - client_id:partner_plus
              - client_secret:${KEYCLOAK_CLIENT_SECRET_PLUS}
            headers:
              - "Content-Type: application/x-www-form-urlencoded"
          dots_in_keys: true

  - name: partner_premium
    plugins:
      - name: request-transformer-advanced
        config:
          add:
            body:
              - grant_type:client_credentials
              - client_id:partner_premium
              - client_secret:${KEYCLOAK_CLIENT_SECRET_PREMIUM}
            headers:
              - "Content-Type: application/x-www-form-urlencoded"
          dots_in_keys: true

# -----------------------------
# REDIS CONNECTION (shared partial)
# -----------------------------
partials: 
  - name: redis-master
    type: redis-ee
    config:
      database: 0
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      keepalive_backlog: 0
      username: null
      password: null
      ssl: false
      ssl_verify: false
      connect_timeout: 2000
      read_timeout: 2000
      send_timeout: 2000
      database: 0
 
# -----------------------------
# GLOBAL PLUGINS
# -----------------------------
plugins:
  - name: prometheus
    enabled: true
    config:
      latency_metrics: false
      bandwidth_metrics: false
      status_code_metrics: true
  - name: correlation-id
    enabled: true
    config:
      echo_downstream: false
      generator: uuid#counter
      header_name: Kong-Request-Cor-ID
  - name: rate-limiting-advanced
    enabled: true
    instance_name: RLA_Plus
    consumer_group: partner_plus
    route: transactions-route
    config:
      error_code: 429
      error_message: API rate limit exceeded
      identifier: consumer
      limit:
      - 3
      window_size:
      - 30
      window_type: sliding
      strategy: redis
      sync_rate: 0
    partials:
    - name: redis-master
      path: config.redis
  - name: rate-limiting-advanced
    instance_name: RLA_Premium
    consumer_group: partner_premium
    enabled: true
    route: transactions-route
    config:
      error_code: 429
      error_message: API rate limit exceeded
      identifier: consumer
      limit:
      - 5
      window_size:
      - 30
      window_type: sliding
      strategy: redis
      sync_rate: 0
    partials:
    - name: redis-master
      path: config.redis

# -----------------------------
# SERVICES
# -----------------------------
services:
  - name: accounts-service
    host: ${ACCOUNTS_SERVICE_HOST}
    port: ${ACCOUNTS_SERVICE_PORT}
    protocol: http
    connect_timeout: 60000
    read_timeout: 60000
    write_timeout: 60000
    retries: 5
    enabled: true

    plugins:
      - name: key-auth
        enabled: true
        config:
          key_names: 
          - apikey
          key_in_header: true
          run_on_preflight: true

      - name: openid-connect
        enabled: true
        config:
          auth_methods:
          - bearer
          - client_credentials
          - session
          authorization_cookie_name: authorization
          bearer_token_param_type:
          - header
          - query
          - body
          issuer: ${OIDC_ISSUER}
          verify_signature: true
          ssl_verify: false
          client_id: []
          client_secret: []
          consumer_by:
          - username
          - custom_id
          run_on_preflight: true
          cache_tokens: true
          cache_ttl: 3600

    routes:
      - name: accounts-route
        paths:
          - /accounts
        methods:
        - GET
        - POST
        strip_path: false
        protocols: [http, https]
        plugins:
          - name: acl
            config:
              allow:
                - partner_basic
                - partner_plus
                - partner_premium
              include_consumer_groups: true
          - name: proxy-cache-advanced
            config:
              strategy: redis
              cache_ttl: 15
              response_code: [200]
              request_method:
              - GET
              - HEAD
            partials:
              - name: redis-master
                path: config.redis

      - name: transactions-route
        paths:
          - ~/accounts/(?<account_id>[^/]+)/(?<action>credit|debit)
        strip_path: false
        methods: [POST]
        protocols: [http, https]
        regex_priority: 1
        plugins:
          - name: acl
            config:
              allow:
                - partner_plus
                - partner_premium
              include_consumer_groups: true

  - name: keycloak-token-service
    host: ${KEYCLOAK_HOST}
    port: ${KEYCLOAK_PORT}
    path: /realms/kong-demo/protocol/openid-connect/token
    protocol: http
    connect_timeout: 60000
    read_timeout: 60000
    write_timeout: 60000
    enabled: true
    routes:
      - name: keycloak-token-svc
        paths:
          - /oauth/token
        methods: [POST]
        protocols: [http, https]
        strip_path: true
        plugins:
          - name: key-auth
            enabled: true
            config:
              key_names: [apikey]
              key_in_header: true
              run_on_preflight: true
