name: Deploy Kong Configuration (via decK Docker)

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Target environment (dev or prod)"
        required: true
        default: "dev"

jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: kong/deck:latest
      options: --user root
    environment: ${{ github.event.inputs.environment }}

    env:
      KONNECT_URL: ${{ vars.KONNECT_URL }}
      CONTROL_PLANE_NAME: ${{ vars.CONTROL_PLANE_NAME }}
      ACCOUNTS_SERVICE_HOST: ${{ vars.ACCOUNTS_SERVICE_HOST }}
      ACCOUNTS_SERVICE_PORT: ${{ vars.ACCOUNTS_SERVICE_PORT }}
      KEYCLOAK_HOST: ${{ vars.KEYCLOAK_HOST }}
      KEYCLOAK_PORT: ${{ vars.KEYCLOAK_PORT }}
      OIDC_ISSUER: ${{ vars.OIDC_ISSUER }}
      REDIS_HOST: ${{ vars.REDIS_HOST }}
      REDIS_PORT: ${{ vars.REDIS_PORT }}
      KEYCLOAK_CLIENT_SECRET_BASIC: ${{ secrets.KEYCLOAK_CLIENT_SECRET_BASIC }}
      KEYCLOAK_CLIENT_SECRET_PLUS: ${{ secrets.KEYCLOAK_CLIENT_SECRET_BASIC }}
      KEYCLOAK_CLIENT_SECRET_PREMIUM: ${{ secrets.KEYCLOAK_CLIENT_SECRET_BASIC }}
      KONNECT_TOKEN: ${{ secrets.KONNECT_PAT }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Render kong.yaml
        run: |
          apk add gettext >/dev/null 
          envsubst < config/kong.yaml > kong.yaml.rendered
          echo "Rendered kong.yaml:"
          cat kong.yaml.rendered

      - name: Validate configuration
        run: deck file validate kong.yaml.rendered
      
      - name: Check Connectivity
        run: |
          deck gateway ping \
            --konnect-addr $KONNECT_URL \
            --konnect-control-plane-name $CONTROL_PLANE_NAME \
            --konnect-token $KONNECT_TOKEN

      - name: Deploy configuration
        run: |
          deck gateway sync ./kong.yaml.rendered \
           --konnect-addr $KONNECT_URL \
            --konnect-control-plane-name $CONTROL_PLANE_NAME \
            --konnect-token $KONNECT_TOKEN