name: Test GCP Auth

on:
  workflow_dispatch:
    inputs:
      env:
        description: "Which Environment?"
        required: true
        type: choice
        options:
          - dev2
          - prod

jobs:
  auth:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCP_SA_EMAIL }}

      - name: Verify Identity
        run: gcloud auth list
